<%= render "layouts/header" %>
<div class="body-wrapper">
  <div class="flex-wrapper">
    <div class="user-wrapper">
      <div class="user-icon">
      </div>
      <%# /.user-icon %>
      <div class="user-info">
        <div class="user-img">
        <%= image_tag(
          "profileImage.jpg", 
          size: "150"
        ) %>
        </div>
        <span class="user-name">
          <%= @user.name %>
        </span>
      </div>
      <%# /.user-info %>
    </div>
    <%# /.user-wrapper %>
    <div class="info-wrapper">
    </div>
    <%# /.info-wrapper %>
  </div>
  <%# /.flex-wrapper %>
</div>
<%# /.body-wrapper %>
<%= render "layouts/footer" %>