<%= render "layouts/header" %>
<div class="body-wrapper">
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
  <label for="customRange1">Example range</label>
  <input type="range" class="custom-range" id="customRange1">
</div>
<%= render "layouts/footer" %>