@import "./variables.scss";

header {
  height: 100px;
  background: #000000;
  padding-left: 20px;
  span {
    line-height: 100px;
    color: #FFFFFF;
    font-size: calc(20px + 0.7vw);
  }
}

footer {
  height: 150px;
  background: #000000;
  padding-left: 20px;
  span {
    line-height: 100px;
    color: #FFFFFF;
    font-size: calc(20px + 0.7vw);
  }
}

.body-wrapper {
  min-height: 100vh;
  width: 100%;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
  @include mq {
    width: 80%;
    max-width: 1200px;
  }
}

.user {
  &-wrapper {
    width: 30%;
    background: #bdbdbd;
  }
  &-info {
    width: 100%;
  }
  &-img {
    width: 100%;
    text-align: center;
    img {
      border-radius: 50%;
    }
  }
  &-name {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: calc(15px + 0.7vw);
  }
}

.info-wrapper {
  width: 70%;
  background: #857d7d;
}