// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.body-wrapper {
  min-height: 100vh;
}

header {
  height: 100px;
  background: #000000;
}

footer {
  height: 150px;
  background: #000000;
}